certifi==2018.4.16
dj-database-url==0.5.0
Django==2.0.6
django-heroku==0.3.1
django-widget-tweaks==1.4.2
gunicorn==19.8.1
mysqlclient==1.3.12
numpy==1.14.3
pandas==0.23.0
pbr==4.0.4
pipenv==2018.6.25
psycopg2==2.7.5
python-dateutil==2.7.3
python-decouple==3.1
pytz==2018.4
scikit-learn==0.19.2
scipy==1.1.0
six==1.11.0
sklearn==0.0
stevedore==1.28.0
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
virtualenvwrapper-win==1.2.5
whitenoise==3.3.1
social-auth-app-django==2.1.0
social-auth-core==1.7.0
django-social-share==1.3.0
tensorboard==1.8.0
