{% extends 'profiles/profilelayout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block loadtemplate %}
    <link href="{% static 'profiles/bookmarkstyle.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

{% if show_list == None %}
<div class="container" style="height: 70vh;">
{% else %}
<div class="container" style="min-height: 70vh;">
{% endif %}

    <div class="row">
        <div class="col-lg-3 profile-sidebar">
            <div id="user-info">
                <p id="user-fullname">{{ user.get_full_name }}</p>
                <p id="user-username">@{{ user.username }}</p>

                <button type="button" id="password-btn" class="btn btn-success" data-toggle="modal" data-target="#passwordModal">
                    <i class="material-icons password-icon">settings</i>Change password
                </button>

                <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3>Change Password</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="post">
                                    {% csrf_token %}

                                    {% for field in form %}
                                        <div class="form-group">
                                            {{ field.label_tag }}
                                            {% render_field field class="form-control" %}
                                            {% if field.errors %}
                                                {% for error in field.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    {% endfor %}

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="profile-menu">
                <nav class="nav flex-column nav-pills nav-tabs">
                    <a class="nav-link" href="../profiles"><i class="material-icons navbar-icon">rate_review</i>Reviews</a>
                    <a class="nav-link select-box" href="bookmarks"><i class="material-icons navbar-icon">collections_bookmark</i>Bookmarks</a>
                </nav>
            </div>
        </div>

        <div class="col-lg-9">
            <h1>Bookmarks</h1>
            <div class="card mt-4" id="main-card">
                <div class="row" style="padding:40px">
                    {% if shows == None %}
                        <h1>No bookmarks yet!</h1>
                    {% else %}
                        {% for show in shows %}
                            <div class="col-sm-4">
                                <div class="card" style="margin:10px">
                                    <a href ="{{ show.get_absolute_url }}"><img class="card-img-top" src="{% static show.display %}" alt="image.jpg"style="width:150;height:250px;"></a>
                                    <div class="card-body" style="background:black;width:150;height:50px;padding:10px">
                                        <h5 class="card-title text-center"><a href="{{ show.get_absolute_url }}" style="color:#fff;font-size:10px">{{show.name}}</a></h5>
                                    </div>
                                </div>
                           </div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% if shows.has_other_pages %}
                    <nav aria-label="bookmark_pages">
                        <ul class="pagination justify-content-center">
                            {% if shows.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ shows.previous_page_number }}" style="color: #28a745">&laquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                                </li>
                            {% endif %}

                            {% for i in shows.paginator.page_range %}
                                {% if shows.number == i %}
                                    <li class="page-item active">
                                        <a class="page-link" href="#"style="background-color: #28a745;border: #28a745;color: black;">{{ i }}<span class="sr-only">(current)</span></a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link"href="?page={{ i }}" style="color: black">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if shows.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ shows.next_page_number }}" style="color: #28a745">&raquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled" tabindex="-1">
                                    <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% else %}
                    <nav aria-label="bookmark_pages">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                            </li>

                            <li class="page-item active" >
                                <a class="page-link" href="#"style="background-color:#28a745;border:#28a745;color:black;">{{ 1 }}<span class="sr-only">(current)</span></a>
                            </li>

                            <li class="page-item disabled" tabindex="-1">
                                <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                            </li>
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
