{% extends 'profiles/profilelayout.html' %}
{% load static %}

{% block loadtemplate %}
    <link href="{% static 'profiles/bookmarkstyle.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-3 profile-sidebar">
            <div id="user-info">
                <p id="user-fullname">{{ user.get_full_name }}</p>
                <p id="user-username">@{{ user.username }}</p>

                <button type="button" id="password-btn" class="btn btn-success" data-toggle="modal" data-target="#passwordModal">
                    <i class="material-icons password-icon">settings</i>Change password
                </button>

                <!-- Modal -->
                <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3>Change Password</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="post">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        <p>
                                            {{ field.label_tag }}
                                            {{ field }}
                                            {% if field.errors %}
                                                {% for error in field.errors %}
                                                    <span style="color: red">{{ error }}</span>
                                                {% endfor %}
                                            {% endif %}
                                        </p>
                                    {% endfor %}
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="profile-menu">
                <nav class="nav flex-column nav-pills nav-tabs">
                    <a class="nav-link select-box" href="../profiles"><i class="material-icons navbar-icon">rate_review</i>Reviews</a>
                    <a class="nav-link" href="#"><i class="material-icons navbar-icon">collections_bookmark</i>Bookmarks</a>
                </nav>
            </div>
        </div>

        <div class="col-lg-9">
            <h1>Bookmarks</h1>
            <div class="card mt-4" id="main-card">

                <div class="row">
                    {% if show_list == None %}
                        <h1>No bookmarks yet!</h1>
                    {% else %}
                        {% for show in show_list %}
                            <div class="col-sm-4">
                                <div class="card">
                                    <img class="card-img-top" src="{% static show.display %}" alt="image.jpg">
                                    <div class="card-body" style="background: black">
                                        <h5 class="card-title text-center"><a href="{{ show.get_absolute_url }}" style="color:#fff">{{show.name}}</a></h5>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
