{% extends 'profiles/profilelayout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block loadtemplate %}
    <link href="{% static 'profiles/reviewprofile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

        <div class="col-lg-9">
            <h1>Here's all the reviews you've left so far!</h1>
            <div class="card mt-4" id="main-card">
                {% if reviews == None %}
                    <h3>No reviews yet!</h3>
                {% else %}
                    {% for i in reviews %}
                        <div class="list-group-item">
                            <div class="col-md-12" style="margin-top:15px">
                                <h4 class="list-group-item-heading"><strong>{{i.name}}</strong></h4>

                                {% if i.rating == 5.0 %}
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_rate</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_rate</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_rate</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_rate</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_rate</i>
                                {% elif i.rating == 4.5 %}
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_rate</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_rate</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_rate</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_rate</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_half</i>
                                {% elif i.rating == 4.0 %}
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_rate</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_rate</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_rate</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_rate</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_border</i>
                                {% elif i.rating == 3.5 %}
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_rate</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_rate</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_rate</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_half</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_border</i>
                                {% elif i.rating == 3.0 %}
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_rate</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_rate</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_rate</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_border</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_border</i>
                                {% elif i.rating == 2.5 %}
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_rate</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_rate</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_half</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_border</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_border</i>
                                {% elif i.rating == 2.0 %}
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_rate</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_rate</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_border</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_border</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_border</i>
                                {% elif i.rating == 1.5 %}
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_rate</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_half</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_border</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_border</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_border</i>
                                {% elif i.rating == 1.0 %}
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_rate</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_border</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_border</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_border</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_border</i>
                                {% elif i.rating == 0.5 %}
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_half</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_border</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_border</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_border</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_border</i>
                                {% else %}
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_border</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_border</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_border</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_border</i>
                                    <i class="material-icons" style="width:25px; color: #f7f74c;">star_border</i>
                                {% endif %}

                                <p class="list-group-item-text">{{i.review}}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

{% endblock %}