.row {
    padding: 30px 0 70px 0;
    margin: 0 0 50px 0;
}

.profile-sidebar {
    padding: 20px;
    background: #F1F3FA;
    margin-bottom: 30px;
}

#user-info {
    text-align: center;
}

#user-fullname {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

#user-username{
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#password-btn {
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 0px;
    margin-bottom: 30px;
}

.password-icon {
    position: relative;
    top: 7px;
    margin-right: 5px;
}

.profile-menu a {
    color: #666666;
    font-weight: 400;
    padding-top: 3px;
    padding-bottom: 10px;
}

.nav-pills .nav-link {
    border: 0.5px solid #d4d9db;
}

.nav-pills .nav-link select-box{
    border-left: 2px solid blue;
}

.navbar-icon {
    position: relative;
    top: 7px;
    margin-right: 15px;
}

#passwordModal .modal-header {
    padding-bottom: 0;
}

