{% extends 'accounts/acclayout.html' %}
{% load static %}

{% block loadtemplate %}
	<link href="{% static 'accounts/accstyle.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}

	<div class="container" id="login-page">
		<h1>Login</h1>
		<form class="site-form"action="/accounts/login/"method="post">
			{% csrf_token %}
			{{ form.as_p }}
			{% if request.GET.next %}
				<input type="hidden" name="next" value={{request.GET.next}}>
			{% endif%}
			<button type="submit" class="btn btn-primary">Submit</button>

		</form>
		<a href="{% url 'social:begin' 'facebook' %}"><img src="{% static 'lib/img/fb.png' %}"></a>
		<a href="{% url 'social:begin' 'google-oauth2' %}"><img src="{% static 'lib/img/google.png' %}"></a>
	</div>


{% endblock %}