{% extends 'accounts/acclayout.html' %}
{% load static %}

{% block loadtemplate %}
    <link href="{% static 'accounts/signup.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container" id="signup-page">
        <h1>SIGN UP</h1>
        <form class="site-form center-justified" action="/accounts/signup/" method="post">
            {% csrf_token %}
            {% for field in form %}
                <p>
                    <span class="field-label">{{field.label_tag}}</span>
                    {{ field }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <span style="color: red">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </p>
            {% endfor %}
            <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock %}