{% extends 'accounts/secondlayout.html' %}
{% load static %}

{% block loadtemplate %}
	<link href="{% static 'accounts/accstyle.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}

	<div class="container" id="signup-page">
		<h1>SIGNUP</h1>
		<form class="site-form"action="/accounts/signup/"method="post">
			{% csrf_token %}
                {% for field in form %}
                    {{ field.label_tag }}
                    {{ field }}<br>
<!--                    {% if field.help_text %}
                      <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}-->
                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>

{% endblock %}