.video-adjust {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-adjust iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.bookmark-btn {
    background-color: transparent;
    border: none;
    cursor:pointer;
    position: relative;
    top: -30px;
}

.bookmark-filled {
    color: #007BFF;
    font-size: 48px;
}

.bookmark-empty {
    font-size: 48px;
}