{% extends 'catalog/cataloglayout.html' %}
{% load static %}

{% block loadtemplate %}
    <link href="{% static 'catalog/detail.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
  <div>
      <div class="container" id="synopsis">

        <div class="row">

          <div class="col-lg-3">
            <h1 class="my-4">{{tvshow.name}}</h1>
              <h4 style="color:black">IMDb Rating: {{ rating }} / 10</h4>
          <nav class="nav flex-column nav-pills nav-tabs">
            <a class="nav-link active" href="#">Synopsis</a>
            <a class="nav-link" href="review/" style="color:black">Review</a>
          </nav>
            <div class="fb-share-button" 
              data-href="{{request.build_absolute_uri}}" 
              data-layout="button_count" style="margin-top: 10px">
            </div>


            {% if user.is_authenticated %}
                {% if show.name in bookmarked %}
                    <form method="POST" action="bookmark/" id="{{tvshow.id}}" class="showBookmarkForm">
                        {% csrf_token %}
                        <label for="bookmarked-show" style="display:none"></label>
                        <input id="bookmarked-show" type="text" name="bookmark" value="{{ tvshow.name }}" style="display:none">

                        <button type="submit">Bookmarked</button>
                    </form>
                {% else %}
                    <form method="POST" action="bookmark/" id="{{tvshow.id}}" class="showBookmarkForm">
                        {% csrf_token %}
                        <label for="bookmark-show" style="display:none"></label>
                        <input id="bookmark-show" type="text" name="bookmark" value="{{ tvshow.name }}" style="display:none">

                        <button type="submit">Bookmark</button>
                    </form>
                {% endif %}
            {% endif %}




          </div>
          <!-- /.col-lg-3 -->

          <div class="col-lg-9">

            <div class="card mt-4">
				<div class="video-adjust">
					<iframe width="823px" height="450" src="{{tvshow.video}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			  <div class="card-body">
                <h3 class="card-title">Description</h3>
                <p class="card-text">{{tvshow.synopsis}}</p>
              </div>
            </div>
            <!-- /.card -->

            <div class="card card-outline-secondary my-4">
              <div class="card-header">
                <h3>Casts</h3>
              </div>
              <table class="table table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Actor</th>
                    <th scope="col">Role</th>
                  </tr>
                </thead>
                <tbody>
                  {% if tvshow.genre != 'Reality' %}
                    {% for x, y, z in total %}
                      <tr>
                        <th scope="row">{{x}}</th>
                        <td>{{y}}</td>
                        <td>{{z}}</td>
                      </tr>
                    {% endfor %}
                  {% else %}
                    {% for a, b in total %}
                      <tr>
                        <th scope="row">{{a}}</th>
                        <td>{{b}}</td>
                        <td>-</td>
                      </tr>
                    {% endfor %}
                  {% endif %}
                </tbody>
              </table>

            </div>
            <!-- /.card -->

          </div>
          <!-- /.col-lg-9 -->

        </div>

      </div>
      <!-- /.container synopsis-->
        <div class="mx-auto" style="width:200px; margin-bottom: 30px;">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#watchModal" style="width:150px;height: 50px">Watch?</button>

            <div class="modal fade" id="watchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div id = "watch" class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Here's where to watch!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div id="watch" class="modal-body">
                    {{tvshow.site}}
                  </div>
                  <div class="modal-footer">
                    {% if user.is_authenticated %}
                      <button type="button" class="btn btn-primary" onclick="unhide('rec','watch')">Another show?</button></a>
                    {% else %}
                      <a href="../{{ next_id }}"><button type="button" class="btn btn-primary">Another show?</button></a>
                    {% endif %}
                    <button type="button" class="btn btn-success" data-dismiss="modal">And we're done!</button>
                  </div>
                </div>
                <div id = "rec" class="modal-content" style="display:none">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Recommended Shows</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="row" style="padding:10px">
                      {% for show in shows %}
                        <div class="col-sm-4">
                            <div class="card" style="margin:10px">
                                 <a href="{{ show.get_absolute_url }}"><img class="card-img-top" src="{% static show.display %}" alt="image.jpg" style="width:250;height:150px;"></a>
                                <div class="card-body" style="background:black;width:150;height:60px;padding:5px">
                                    <h5 class="card-title text-center"><a href="{{ show.get_absolute_url }}" style="color:#fff;font-size:10px">{{show.name}}</a></h5>
                                </div>
                            </div>
                        </div>
                      {% endfor %}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="unhide('rec','watch')">Back</button></a>
                  </div>
                </div>
              </div>
            </div>

        </div>
  </div>

{% endblock %}

